.aboutus{
    padding: 7rem 0;
    height: 100vh;

     &--heading{
        margin-bottom: 4rem;
        text-align: center;
    }

    &--item-wrapper{
        text-align: center;
        background-color: $shadows;
        border-radius: 0 2rem 2rem 0;
        margin-left: -2rem;
        padding: 9.5rem 6rem;
        box-shadow: 0px 0px 0.5rem $main_color;
    }

    &--item-slider {
        img{
            position: relative;
            z-index: 10;
            width: 100%;
            height: auto;
            border: 0.25rem solid $main_color;
            border-radius: 2rem;
            box-shadow: 0px 0px 0.5rem $main_color;
        }
    }
}