.aboutus{
    padding-top: 4rem;
    height: 100vh;

    @include media-breakpoint-up(lg){
        margin-bottom: -10rem;
    }
    @include media-breakpoint-up(xxl){
        margin-bottom: -20rem;
    }

     &--heading{
        margin-bottom: 4rem;
        text-align: center;
        color: $main_color;
    }

    &--item {
        &-wrapper{
            text-align: center;
            background-color: $shadows;
            border-radius: 0 2rem 2rem 0;
            margin-left: 0;
            margin-top: -2rem;
            padding: 7rem 6rem;
            border-radius: 2rem;

            @include media-breakpoint-only(xl){
                margin-left: -2rem;
                border-radius: 0 2rem 2rem 0;
                padding: 5rem 6rem;
                margin-top: 0;
                
            }
            @include media-breakpoint-up(xxl){
                margin-left: -2rem;
                border-radius: 0 2rem 2rem 0;
                margin-top: 0;
                
            }
            // @include media-breakpoint-up(md){
            //     margin-left:-2rem ;
    
            // }

            &__heading {
                color: $main_color;
            }
    
            &__description{
                margin-bottom: 3rem;
            }
    
        }
    
        &-slider {
            position: relative;
                z-index: 10;
            img{
                width: 100%;
                height: auto;
                border-radius: 2rem;
            }
        }
    }
}