.aboutus{
    padding-top: 4rem;
    height: 100vh;

    @include media-breakpoint-up(xl){
        margin-bottom: 0;
    }

     &--heading{
        margin-bottom: 4rem;
        text-align: center;
        color: $main_color;
    }

    &--item {
        &-wrapper{
            text-align: center;
            background-color: $shadows;
            border-radius: 0 2rem 2rem 0;
            margin-left: -2rem;
            padding: 7rem 6rem;
            
            @include media-breakpoint-up(xl){
                margin-left: -2rem;border-radius: 0 2rem 2rem 0;
            }
            @include media-breakpoint-up(md){
                margin-left: -2rem;
    
            }

            &__heading {
                color: $main_color;
            }
    
            &__description{
                margin-bottom: 3rem;
            }
    
        }
    
        &-slider {
            position: relative;
                z-index: 10;
            img{
                width: 100%;
                height: auto;
                border-radius: 2rem;
            }
        }
    }
}