.career {
    &--start {
        display: flex;
        align-items: center;
        height: 100vh;
        &-photo {
            width: 30rem;
            height: auto;
        }
        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-right: 2rem;
            &__heading {
                color: $main_color;
                font-weight: 600;
                letter-spacing: 1px;
            }
            h1 {
                text-align: center;
            }
            a {
                text-align: center;
            }
        }
    }
    &--job-list {
        padding-top: 8rem;
        .form-group {
            label {
                color: $main_color;
                font-weight: 600;
                letter-spacing: 1px;
                outline: none;
            }
            .custom-select {
                position: relative;
                border: 2px solid $main_color;
                border-radius: 0.5rem;
                outline: none;
                & select {
                    display: none;
                }
            }
        }
        &__header {
            h2 {
                color: $main_color;
                margin-bottom: 2rem;
                text-align: center;
            }
        }
        &__wrapper {
            color: $main_color;
            font-weight: 600;
            letter-spacing: 1px;
            .card {
                border: 1px solid $main_color;
                border-radius: 1rem;
                margin-bottom: 2rem;
                .icon {
                    color: $main_color;
                }
            }
        }
    }
}

.badge-circle {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
    font-size: 1rem;
    line-height: 2.5rem;
    padding: 0;
    background-color: $main_color;
    color: $white;
}

.text-white {
    color: #fff!important;
}