.footer{
    background-color: $shadows;
    min-height: 60vh;
    padding-top: 2rem;

    a:hover{
        color: red;

    }

    &--form {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    &--contact{
        text-align: center;
        margin: 0 2rem 0 2rem;
        background-color: $white;
        border-radius: 1rem;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        margin-left: 6rem;
               
flex-direction: column;
         @include media-breakpoint-up(sm){
            flex-direction: row;justify-content: center;
        align-items: center; 
        margin-left: 0;
        }
        // @include333333 media-breakpoint-up(lg){
        //     flex-direction: row;
        // }
        // @include media-breakpoint-up(md){
        //     flex-direction: row;
        // }

        li{
            margin-left: 2rem;
        }

    }

    &--item-wrapper{
        text-align: left;
        padding-top: 1rem;
        padding-left: 1rem;
        background-color: $white;
        border-radius: 1rem;
        justify-content: center;
        @include media-breakpoint-only(md){
            padding-top: 3rem;
        padding-left: 4rem;
        }
        @include media-breakpoint-only(lg){
            padding-top: 3rem;
        padding-left: 2rem;
        }
        @include media-breakpoint-up(xl){
            padding-top: 5rem;
        padding-left: 5rem;
        }
    }


    &--socials {
        padding-top: 4rem;
        &-list{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2rem;
            margin: 2rem 2rem;
    
            a {
                background-color: $main_color-footer;
                min-width: 4rem;
                min-height: 4rem;
                font-size: 25px;
                border-radius: 50%;
                color: $main_color;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }  
    }
    &--authors{
        border-top: 1px solid $main_color-footer;
        padding-top: 1rem;
        color: $font_color-muted;
        display: flex;
        justify-content: space-between;
    }


    &--links{
        
        .scrollTop {
            margin-left: 15rem;
            width: 3rem;
            height: 3rem;
            font-size: 25px;
            border-radius: 50%;
            border: 4px solid $main_color;
            color: $main_color;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


}


