.footer{
    background-color: $shadows;
    min-height: 60vh;
    padding-top: 2rem;

    a:hover{
        color: red;

    }

    &--form {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    &--contact{
        text-align: center;
        margin: 0 2rem 0 2rem;
        background-color: $white;
        border-radius: 1rem;
    }

    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        

        @media (min-width: 576px){
            flex-direction: row;
        }
        // @include333333 media-breakpoint-up(lg){
        //     flex-direction: row;
        // }
        // @include media-breakpoint-up(md){
        //     flex-direction: row;
        // }

        li{
            margin-left: 2rem;
        }

    }

    &--item-wrapper{
        text-align: left;
        padding-top: 6rem;
        padding-left: 6rem;
        background-color: $white;
        border-radius: 1rem;
    }


    &--socials {
        padding-top: 4rem;
        &-list{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2rem;
            margin: 2rem 2rem;
    
            a {
                background-color: $main_color-footer;
                width: 4rem;
                height: 4rem;
                font-size: 25px;
                border-radius: 50%;
                color: $main_color;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }  
    }
    &--authors{
        border-top: 1px solid $main_color-footer;
        padding-top: 1rem;
        color: $font_color-muted;
        display: flex;
        justify-content: space-between;
    }


    // &--links{

    // }


}


