.footer{
    background-color: $bgFooter;
    min-height: 60vh;
    padding-top: 2rem;

    a:hover{
        color: $white;
    }

    &--form {
        display: flex;
        flex-direction: column;
    }

    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        

        @include media-breakpoint-up(lg){
            flex-direction: row;
        }

        li{
            margin-left: 2rem;
        }

    }

    &--item-wrapper{
        text-align: center;
        h3 {
            color: $white;
        }
    }


    &--socials{
        text-align: center;       
    }   
    &--authors{
        border-top: 1px solid $main_color;
        padding-top: 1rem;
        color: $white;
        display: flex;
        justify-content: space-between;
    }

}


