.header {
    position: fixed;
    width: 100%;
    z-index: 999999;
    background-color: transparent;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    white-space: nowrap;
    padding: 1rem 0 1rem 0;
    &--full {
        display: flex;
        flex-direction: row;
        align-items: center;
        .btnCustom {
            margin-left: 8rem;
        }
    }

    &--logo {
        position: relative;
        right: 5rem;
    }
    &--logo-img {
            max-width: 3rem;
            height: auto;
        }
      
        .anim {
          transform: rotate(0deg);
          transition: 0.25s;
          font-size: medium;
        }
      
        &--nav {
            font-weight: 600;
            letter-spacing: 1px;
      
            ul {
              display: flex;
              flex-direction: row;
              gap: 1rem;
              
              li{
                  position: relative;
                  padding-right: 1rem;
                  border-right: 0.2rem solid $main_color;
                      &:hover .anim{
                          transform: rotate(180deg);
                      }
                  
                      &:nth-child(5){
                          border-right: 0;
                      }
              }
              ul {
                  display: flex;
                  flex-direction: column;
                  visibility: hidden;
                  transition: 0.2s 1s;
                  position: absolute;
                  
                  li {
                      border-right: 0;
                  }
              }
          }
          a{
              font-size: 1.5rem;
              color: $main_color;
              display: block;
              &:hover{
                  color: red;
                  transition: 0.5s;
                  }
              }
          
          li:hover ul {
              visibility: visible;
              padding: 1rem;
              transition-delay: 0s;
              background-color: $bgShadow;
          }
      }
}

.slideInDown {
    animation-name: slideInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInDown {
    0% {
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    transform: translateY(0);
    }
    }
    @keyframes slideInDown {
    0% {
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    transform: translateY(0);
    }
}