.header{
    background-color: rgb(168, 168, 168);

    padding: 1rem 0;
    font-size: 1rem;

   


    ul{
        display: flex;
        flex-direction: row;

        li{
            margin-left: 30px;
        }
        

    }
   
    
}

