.inputCustom {
    border: 0.2rem solid $main_color;
    border-radius: 1rem;
    background-color: transparent;
    margin: 0.2rem;
    padding: 0.5rem;

    &::placeholder {
        text-align: center;
    }

    &:focus {
        outline: 0;
        background-color: $main_color-light;
        color: $black;
    }
}

.inputCustomFooter {
    border: 0.2rem solid $main_color-footer;
    border-radius: 1rem;
    background-color: transparent;
    margin: 0.2rem;
    padding: 0.5rem;

    &::placeholder {
        text-align: center;
    }

    &:focus {
        outline: 0;
        background-color: $bgShadow;
        color: $black;
    }
}

.inputNews{
    border: 0.25rem solid $main_color;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 42rem;

    &:hover {
        &::placeholder {
            color: $main_color-footer;
        }
    }

    &::placeholder {
        text-align: right;
        margin-right: 1rem;
    }

    &:focus {
        outline: 0;
        background-color: $main_color-light;
    }
}