.newsletter {
    height: 100vh;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;

    &--content-form { 
        display: flex;
        flex-direction: column;    
        box-shadow: none;
        background: $shadows;
        border: 0;
        padding: 1.7em 1.3em;
        gap: 1rem;
        color: $font_color-muted;
    }
  }