.newsletter {
    height: 100vh;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;

    &--content{
        box-shadow: 0px 0px 0.5rem $main_color;
        border-radius: 1rem;
            &-form { 
                display: flex;
                flex-direction: column;    
                box-shadow: none;
                background: $shadows;
                border: 0;
                border-radius: 1rem;
                padding: 1.7em 1.3em;
                margin: 1rem;
                gap: 1rem;
                color: $font_color-muted;
            }
        }
  }