.start{
    display: flex;
    padding-top: 10.5rem;
    height: 100vh;   
        
    &--item-wrapper{
        text-align: center;
        background-color: $shadows;
        border-radius: 2rem 0 0 2rem;
        padding: 7.5rem 6rem;
        box-shadow: 0px 0px 0.5rem $main_color; 
    }  
    
    &--heading{
        margin-bottom: 2rem;
        text-align: center;
    }
    
    &--description{
        text-align: center;
        margin-bottom: 3rem;
    }

    &--item-slider {
        position: absolute;
        right: 8rem;
        width: 50rem;
        height: auto;
        img {
            border-radius: 2rem;
            border: 0.25rem solid $main_color;
            box-shadow: 0px 0px 0.5rem $main_color;            
        }
    }

}