// project main colors
$main_color: #FFB400;
$main_color-dark: #b47e00;
$main_color-trans: #FFB400e6;
// $main_color: #4072AF;
// $main_color: #27DEBF;
// $main_color: pink;
$main_color-hover: #fff;
$main_color-light: #ffe19b;
$main_color-footer: #2e2e2e;


//font colors
$font_color-dark: #2e2e2e;
$font_color-muted: #464646;


//shadows colors
$shadows: #f1f0f0;
$shadowsD:rgb(235, 229, 229)5;

// bg colors
$bgMain: #9EECFF;
$bgFooter: #4b4b4b;
$bgGray: #D6D6D6;
$bgHover: #30303020;
$bgShadow: #f5f5f598;


// standard colors
$black: #000;
$white: #fff;
$white-trans: #ffffff2c;

//socials
$main_socials: #006eff;

