// project main colors
$main_color: #FFB400;
$main_color-hover: #fff;
$main_color-light: #ffe19b;


//font colors
$font_color-dark: #464646;
$font_color-mmuted: #2e2e2e;

//shadows colors
$shadows: #f5f5f5;

// bg colors
$bgFooter: #4b4b4b;
$bgHover: #30303020;

// standard colors
$black: #000;
$white: #fff;
