// project main colors
$main_color: #FFB400;
$main_color-hover: #fff;
$main_color-light: #ffe19b;
$main_color-footer: #2e2e2e;


//font colors
$font_color-dark: #2e2e2e;
$font_color-muted: #464646;


//shadows colors
$shadows: #f5f5f5;

// bg colors
$bgFooter: #4b4b4b;
$bgHover: #30303020;
$bgShadow: #f5f5f598;


// standard colors
$black: #000;
$white: #fff;

//socials
$main_socials: #006eff;

