.aboutus{
    padding: 7rem 0;
    background-color: #fff;
    min-height: 70vh;

     &--heading{
        margin-bottom: 4rem;
        text-align: center;
    }

    &--item-wrapper{
        text-align: center;
    }

    img{
        width: 100%;
        height: auto;
        border: 0.5rem solid $main_color;
        border-radius: 2rem;
    }
}