.aboutStart {
        display: flex;
        align-items: center;
        height: 100vh;
        &-photo {
            width: 30rem;
            height: auto;
        }
        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            &__heading {
                color: $main_color;
                font-weight: 600;
                letter-spacing: 1px;
            }
            h1 {
                text-align: center;
            }
            a {
                text-align: center;
            }
        }
}

.partners {
    background-color:#ffd755;
}

.creative {
    height: 40vh;
    &--wrapper {
        margin-top: 8rem;
        &__heading {
            h1 {
                color: $main_color;
                margin-bottom: 4rem;
            }
        }
        &__content {
            &-progress {
                h4 {
                    letter-spacing: 2px;
                }
                .w3-container {
                    background-color: $main_color;
                    color: $white;
                    font-weight: 600;
                    letter-spacing: 1px;
                    padding-left: 0.25rem;
                    border-radius: 0.5rem;
                }
            }
        }
    }
}

.why-us {
    margin-top: 5rem;
    padding: 2rem 0;
    background-color: $shadows;
    &--content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            color: $main_color;
            padding-bottom: 2rem;
        }
    }
    img {
        display: block;
        margin: 0 auto;
    }
}

.aim {
    margin: 6rem 0;
    &--wrapper {
        text-align: center;
        &-icon {
            background-color: $main_color;
        }
        h2 {
            color: $main_color;
            margin-bottom: 1.5rem;
        }
    }
}