.formwizard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    opacity: 0;
    animation: slide-in 0.75s ease 0.35s forwards;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    &--container {
        position: relative;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    &--tile {
        position: absolute;
        background-color: #fff;
        transition: transform ease 0.7s, opacity ease 0.7s;
        z-index: 2;
        width: 40rem;

        &-border {
            max-height: 500px;
            height: 100%;
            width: 100%;
            padding: 3rem;
            border: 1px solid #000;
            overflow-y: auto;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #fff0;
            pointer-events: none;
            transition: background-color ease 0.7s;
        }

        &.done {
            transform: scale(0.8) translateX(-120%);
            opacity: 0;

            .overlay {
                background-color: #dfdb;
                pointer-events: all;
            }
        }

        &.donelast {
            transform: scale(0.8) translateX(-120%);
            opacity: 0.4;

            .overlay {
                background-color: #dfdb;
                pointer-events: all;
            }
        }

        &.upcoming {
            transform: scale(0.8) translateX(120%);
            opacity: 0;

            .overlay {
                background-color: #fffb;
                pointer-events: all;
            }
        }

        &.next {
            transform: scale(0.8) translateX(120%);
            opacity: 0.4;

            .overlay {
                background-color: #fffb;
                pointer-events: all;
            }
        }
    }

    &--success {
        position: absolute;
        top: 0;
        visibility: hidden;
        height: 50rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &.show {
            animation: show-up 1s ease forwards;
        }
    }

    &--loading-overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      background-color: #FFFB;
      opacity: 0;
      transition: opacity ease 1s;

      &.show {
        visibility: visible;
        opacity: 1;
      }
    }

    &.hide {
        visibility: hidden;
        animation: hide-up 1s ease forwards;
    }
}

$timeline-node-size: 3rem;
$timeline-line-height: 1rem;

.timeline {
    position: relative;
    display: flex;
    justify-content: space-between;

    &--line {
        z-index: 0;
        position: absolute;
        max-width: 100%;
        height: $timeline-line-height;
        background-color: #f00;
        bottom: $timeline-node-size / 2 - $timeline-line-height / 2;
        transition: width 1s ease-out;
    }

    &--item {
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &--title {
        text-align: center;
        margin-bottom: 1rem;
    }

    &--node {
        margin-top: auto;
        top: 3rem;
        height: $timeline-node-size;
        width: $timeline-node-size;
        border-radius: 100%;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-color: #fff;
        transition: background-color 0.5s;

        &.done {
            transition-delay: 0s;
            background-color: #0F0;
        }

        &.current {
            transition-delay: 0.8s;
            background-color: #FF0;
        }
    }
}

@keyframes hide-up {
    0% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    60% {
        opacity: 0;
        visibility: visible;
    }

    100% {
        transform: translateY(-200px);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes show-up {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(200px);
    }

    0.01% {
        visibility: visible;
        opacity: 0;
        transform: translateY(200px);
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-in {
  from {
    transform: translateX(150px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
