// Circle loading animation

$sin45: 0.70710678;

$brand-success: #ffb400;
$brand-failure: #FF0000;
$loader-size: 8rem;
$symbol-thickness: 1rem; // Check thickness
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size/7 + $loader-size/12); // 7/12 is a nice centrepoint of the tick
$check-color: $brand-success;

.circle-loader {
    margin: 0 0 30px 10px;
    border: $symbol-thickness solid rgba(0, 0, 0, 0.2);
    border-left-color: $check-color;
    animation-name: loader-spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
    &, &:after {
        border-radius: 50%;
        width: $loader-size;
        height: $loader-size;
    }

    &.success {
        -webkit-animation: none;
        animation: none;
        border-color: $brand-success;
        transition: border 500ms ease-out, opacity 500ms ease-out;

        .status {
            &.draw:after {
                animation-duration: 1.2s;
                animation-timing-function: ease;
                animation-name: checkmark;
                transform: scaleX(-1) rotate(135deg);
            }
    
            &:after {
                opacity: 1;
                height: $check-height;
                width: $check-width;
                transform-origin: left top;
                border-right: $symbol-thickness solid $check-color;
                border-top: $symbol-thickness solid $check-color;
                content: '';
                left: $check-width / 2;
                top: $check-height - $check-height / 8;
                position: absolute;
            }
        }
    }

    &-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        visibility: hidden;
        background-color: #fffd;
        opacity: 0;
        transition: opacity ease 1s;
        text-align: center;
        z-index: 5;

        &.show {
            visibility: visible;
            opacity: 1;
        }
    }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: $check-width;
        opacity: 1;
    }
    40% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }
    100% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }
}

// File dropzone

.dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    border: 0.2rem dashed $main_color-dark;
    border-radius: 5px;
    text-align: center;
    height: 10rem;
    background-color: #eee;
    position: relative;
    &-colored {
        border-color: $main_color;
    }
}

// Remove attachment button

.btn-remove-attachment {
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    padding: 0;
    line-height: 0;
    &:hover {
        padding: 0;
    }
    &::after {
        padding: 0;
    }
}