.inputCustom {
    border: 0.2rem solid #FFB400;
    border-radius: 1rem;
    background-color: #fff;

    margin: 0.2rem;
    padding: 0.75rem;

    &::placeholder {
        text-align: center;
    }

    &:focus {
        outline: 0;
        background-color: #f1f0f0;
        color: #000;
    }
}

.inputNews{
    border: 0.25rem solid #FFB400;
    width: 42rem;
}