.newsletter--modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  background-color: #0005;
  opacity: 0;
  transition: opacity ease 0.6s, visibility ease 0s 0.6s;
  z-index: 1;

  &.open {
    visibility: visible;
    opacity: 1;
    transition: opacity ease 0.6s;
  }

  &-container {
    background-color: $main_color-light;
    padding: 2.5rem;
    border: 0.25rem solid $main_color;
    border-radius: 1rem;
    position: relative;
  }

  &-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    background-color: transparent;
    appearance: none;

    &:hover {
      color: #555;
    }

    &:active {
      color: #333;
    }
  }
  .floating-label-group {
    display: inline-block;
    margin-right: 0.5rem;
  }
}

body.no-scroll {
  overflow: hidden;
}