.portfolio{
    height: 100vh;
    &--heading {
        padding: 2rem;
        text-align: center;
        color: $main_color;
    }
    &--footer {
        padding-top: 2rem;
    }
    img {
        border-radius: 2rem;
    }
    .slick-slide {
        margin: 0 1rem;
    }
}