$fa-font-path:  "../fonts/font-awesome/";
$main_color: #FFB400;
$main_color-hover: #db9a00;
$font_color-dark: #464646;

$timeline-node-size: 2rem;
$timeline-line-height: 0.25rem;

$datepicker__selected-color: #ffb400;