$fa-font-path:  "../fonts/font-awesome/";
$main_color: #FFB400;
$main_color-hover: #db9a00;
$font_color-dark: #464646;

$timeline-node-size: 3.5rem;
$timeline-line-height: 0.5rem;

// Bootstrap
$font-size-root: 10px;
$font-size-base: 1.6rem;