$fa-font-path:  "../fonts/font-awesome/";
$main_color: #FFB400;
$main_color-hover: #db9a00;
$main_color-dark: #b47e00;
$font_color-dark: #464646;

$timeline-node-size: 1.75rem;
$timeline-node-size-l: 2.25rem;
$timeline-breakpoint-l: 550px;
$timeline-line-height: 0.375rem;

// Bootstrap
// $font-size-root: 10px;
// $font-size-base: 1.6rem;

$datepicker__selected-color: #ffb400;
$datepicker__muted-color: #ddd;
$datepicker__background-color: #ffe19b;

$scrollbar-track-color: #ffe19b;
$main_color-trans: #FFB400e6;
// $main_color: #4072AF;
// $main_color: #27DEBF;
// $main_color: pink;
$main_color-hover: #fff;
$main_color-light: #ffe19b;
$main_color-footer: #2e2e2e;


//font colors
$font_color-dark: #2e2e2e;
$font_color-muted: #464646;


//shadows colors
$shadows: #f1f0f0;
$shadowsD:rgb(235, 229, 229)5;

// bg colors
$bgMain: #9EECFF;
$bgFooter: #4b4b4b;
$bgGray: #D6D6D6;
$bgHover: #30303020;
$bgShadow: #f5f5f598;


// standard colors
$black: #000;
$white: #fff;
$white-trans: #ffffff2c;

//socials
$main_socials: #006eff;

//slick
$slick-font-path: "../node_modules/slick-carousel/slick/fonts/";
$slick-loader-path: "../node_modules/slick-carousel/slick/";