@import "variables";

@import "bootstrap";

@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

@import '../node_modules/react-datepicker/src/stylesheets/datepicker.scss';

@import "header";
@import "footer";
@import "start";
@import "functions";
@import "aboutus";
@import "portfolio";
@import "members";
@import "opinions";
@import "newsletter";
@import "career";
@import "buttons";
@import "inputs";
@import "newsletter";
@import "formwizard";
@import "newsletter-form";
@import "rc-slider";


*{
    list-style-type: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

 a{
    text-decoration: none; 
    color: rgb(0, 0, 0);
}